{% extends 'sports/base.html' %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-lg-6 dyn-height">
        <h3>NBA Latest</h3>
        <a class="twitter-timeline" href="https://twitter.com/BR_NBA?ref_src=twsrc%5Etfw">Tweets by BR_NBA</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="col-lg-6 right split">
        {% include 'sports/articlethumbnails.html' %}
      </div>
    </div>
  </div>
{% endblock %}